/*.description {
    text-align: center;
    color: #fff;
    margin-top: 180px;
}*/

.description {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  flex: 1;
}

.description h2 {
  color: var(--text-primary);
}

.description p {
  margin-bottom: 15px;
  color: var(--text-secondary);
}