/*.start {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}*/

.start {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.2em;
  color: var(--text-light);
  background-color: var(--button-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start:hover {
  background-color: var(--button-primary-hover);
}